<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AlphaPOS</title>

    <link rel="icon" href="https://res.cloudinary.com/amankukretti/image/upload/v1619506220/logos/favicon_mikanf.ico">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body>

    <div class="end">
      <h3>Developed By:</h3><h3>Aman Kukretti</h3>
    </div>
