<%- include('partials/header') -%>

<div class="inner">
  <h1 class="mainHeading">Cart</h1>

  <hr class="categorySeperator">

  <div class="cartHeadingBox">
    <h3 class="cartHeadingItem">Item</h3>
    <h3 class="cartHeadingQuantity">Quantity</h3>
    <h3 class="cartHeadingPrice">Price</h3>
  </div>

  <div class="cartItem">
    <h4>Veg Whopper</h4>
    <p class="cartQuantity">1</p>
    <p class="cartPrice"><span class="rupee-sign">₹</span>199</p>
  </div>

  <div class="cartItem">
    <h4>Chicken Whopper</h4>
    <p class="cartQuantity">2</p>
    <p class="cartPrice"><span class="rupee-sign">₹</span>259</p>
  </div>

</div>

<%- include('partials/footer') -%>
