<%- include('partials/header') -%>

<a href="/menu"><i class="fas fa-hand-point-left"></i></a>

<div class="inner">
  <h1 class="mainHeading">New Category</h1>

  <hr class="categorySeperator">

  <form class="" action="/newcategory" method="post">
    <h3 class="formHeading">Category Name</h3>
    <input type="text" name="name" required>

    <h4>*category would not be listed unless you add an item to it.</h4>

    <button type="submit" class="submit-button-item">Confirm</button>
  </form>

</div>

<%- include('partials/footer') -%>
