<%- include('partials/header') -%>

<a href="/logout"><i class="fas fa-power-off"></i></a>

<div class="header-text" style="position: relative;">
  <h1>Alpha POS</h1>
</div>

<!-- <div class="profile">
  <h3 style="color:white;">Aman Kukretti</h3>
</div> -->

<div class="cards">
  <a href="/order">
    <div class="card">
      <h3>Order</h3>
    </div>
  </a>
  <a href="/orders">
    <div class="card">
      <h3>View Orders</h3>
    </div>
  </a>
  <%if(pos==1) {%>
    <a href="/menu">
      <div class="card">
        <h3>Menu</h3>
      </div>
    </a>
    <a href="/employees">
      <div class="card">
        <h3>Employee List</h3>
      </div>
    </a>
  <%}%>
</div>

<%- include('partials/footer') -%>
