<%- include('partials/header') -%>

<div class="header-text">
  <h1>Alpha POS</h1>
</div>

<div class="login-inner">

  <img src="https://res.cloudinary.com/amankukretti/image/upload/v1619506221/logos/tiger_z6y62q.png" alt="AlphaPOS" class="logo">

  <%if(fail===1) {%>
    <p class="failLogin">Incorrect Username or Password</p>
  <%}%>

  <form action="/" method="post">
    <label for="user" class="formlabel">Username</label><br>
    <input type="text" class="login-text-field" name="user" id="user" placeholder="Enter your username"><br>

    <label for="pwd" class="formlabel">Password</label>
    <br>
    <input type="password" class="login-text-field" name="pwd" id="pwd" placeholder="Enter your password">
    <br>
    <button type="submit" class="submit-button" name="button">Login</button>
  </form>

</div>

<%- include('partials/footer') -%>
